/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rufina:wght@400;700&display=swap");
/* google fonts */
/* common css starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
span {
  margin: 0;
  padding: 0;
}
:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Roboto", sans-serif;
  --font3: "Manrope", sans-serif;
  --font4: "Rufina", sans-serif;
}
.site-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

/* common css end */

/* navbar section start */

nav {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  align-items: center;
}
nav h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
}
ul {
  display: flex;
  gap: 34px;
  align-items: center;
}
ul li {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}
/* responsive-navbar */
.responsive-navbar {
  display: none;
}
/* responsive-navbar */
/* navbar section end */

/* banner section start */
#banner {
  display: flex;
  gap: 130px;
  align-items: center;
}
#banner img {
  width: 440px;
  height: 414px;
}
.banner-content h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 52px;
  line-height: 135%;
  color: #3a3a3a;
}
.banner-content p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
  padding: 16px 0;
}
.banner-content {
  width: 582px;
  height: 270px;
}
.banner-content button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 41px;
  padding: 10px 24px;
  width: 196px;
  height: 44px;
  background: #e02c6d;
  border: none;
}
.banner-content button i {
  margin-left: 8px;
}
/* banner section end */
.all-image {
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
}
/* popular section start */
#popular span {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: rgba(224, 44, 109, 0.87);
  display: flex;
  padding: 50px 0 100px;
  justify-content: end;
  align-items: center;
}
#popular span i {
  margin-left: 8px;
}
#popular h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 250%;
  color: #3a3a3a;
  text-align: center;
}
.popular-all-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.popular-card {
  border-radius: 5px;
  max-width: 329px;
  height: 476px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 17px 15px;
}
.popular-card h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 143%;
  color: #18191f;
  padding-top: 16px;
}
.popular-card h5 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 0;
}
.popular-card i {
  width: 16px;
  height: 16px;
  color: orange;
  margin: 3px;
}
.popular-card p {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: #787885;
}
/* popular section end */
/*  featured section start */
#featured {
  display: flex;
  gap: 96px;
}
#featured h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 38px;
  line-height: 158%;
  color: #0a0826;
}
#featured p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  color: #6c6c6c;
  padding: 16px 0;
}
#featured button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  padding: 10px 24px;
  width: 155px;
  height: 44px;
  background: #e02c6d;
  border: none;
}
#featured button i {
  padding-left: 8px;
}
/*  featured section end */

/* responsive 576px */
@media screen and (max-width: 576px) {
  /* navbar start*/
  nav {
    display: none;
  }
  .responsive-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 16px 22px;
  }
  /* navbar end*/
  /* banner start*/
  #banner {
    flex-direction: column-reverse;
    gap: 22px;
  }
  #banner img {
    width: 100%;
  }
  .banner-content {
    text-align: center;
    max-width: 330px;
  }
  .banner-content h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #3a3a3a;
  }
  .banner-content p {
    font-size: 14px;
  }
  /* banner end*/
  .all-image {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  /* popular start */
  .popular-all-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* popular end */
  /* featured start */
  #featured {
    flex-direction: column-reverse;
    text-align: center;
    gap: 22px;
  }
  /* featured end */
}

/* responsive 576px*/
/*  responsive 992px */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* navbar start*/
  nav {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  /* navbar end*/
  /* banner start*/
  #banner {
    flex-direction: column-reverse;
    gap: 22px;
  }
  #banner img {
    width: 100%;
  }
  .banner-content {
    text-align: center;
    max-width: 530px;
  }
  /* banner end*/
  .all-image {
    flex-wrap: wrap;
    gap: 50px;
  }
  /* popular start */
  .popular-all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  /* popular end */
  /* featured start */
  #featured {
    flex-direction: column-reverse;
    text-align: center;
    gap: 22px;
  }
  /* featured end */
}
/*  responsive 992px */
