/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rufina:wght@400;700&display=swap");
/* google fonts */
/* common css starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
span {
  margin: 0;
  padding: 0;
}
:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Roboto", sans-serif;
  --font3: "Manrope", sans-serif;
  --font4: "Rufina", sans-serif;
}
.site-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

/* common css end */

/* navbar section start */

nav {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  align-items: center;
}
nav h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
}
ul {
  display: flex;
  gap: 34px;
  align-items: center;
}
ul li {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}
/* responsive-navbar */
.responsive-navbar {
  display: none;
}
/* responsive-navbar */
/* navbar section end */

/* banner section start */
#banner {
  display: flex;
  gap: 130px;
  align-items: center;
}
#banner img {
  width: 440px;
  height: 414px;
}
.banner-content h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 52px;
  line-height: 135%;
  color: #3a3a3a;
}
.banner-content p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
  padding: 16px 0;
}
.banner-content {
  width: 582px;
  height: 270px;
}
.banner-content button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 41px;
  padding: 10px 24px;
  width: 196px;
  height: 44px;
  background: #e02c6d;
  border: none;
}
.banner-content button i {
  margin-left: 8px;
}
/* banner section end */

/* responsive */
@media screen and (max-width: 576px) {
  /* navbar */
  nav {
    display: none;
  }
  .responsive-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 16px 22px;
  }
  /* navbar */
  /* banner */
  #banner {
    flex-direction: column-reverse;
    gap: 22px;
  }
  #banner img {
    width: 100%;
  }
  .banner-content {
    text-align: center;
    max-width: 330px;
  }
  .banner-content h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #3a3a3a;
  }
  .banner-content p{
    font-size: 14px;
  }
  /* banner */
}
/* responsive */
